<!-- Add New Contact -->
<div class="row">
  <div class="large-12 columns">
    <h2>Add or Edit a Contact</h2>
    <p>Create a new contact, or select one to edit in the table below.</p>
  </div>
</div>

<form data-abide>
  <div class="row">
    <div class="large-6 columns">
      <label>First Name * (Between 3 and 75 characters)
        <input type="text" name="fname" value="<% edit.fname %>" class="fname" required pattern="(^.{3,35}$)"/>
      </label>
    </div>
    <div class="large-6 columns">
      <label>Last Name * (Between 3 and 75 characters)
        <input type="text" name="lname" value="<% edit.lname %>" class="lname" required pattern="(^.{3,35}$)"/>
      </label>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <label>Address
        <input type="text" name="address" value="<% edit.address %>" class="address"/>
      </label>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <label>Country
        <select name="country" id="country-select" value="<% edit.country %>" class="country">
          <% _.each(countryList, function(country){ %>
            <option value="<%= country.code %>" <% if (country.code == "US") { %> selected <% } %> ><%= country.name %></option>          
          <% }); %>  
        </select>
      </label>
    </div>
  </div>
  <div class="row">
    <div class="large-4 columns">
      <label>City
        <input type="text" name="city" value="<% edit.city %>" class="city"/>
      </label>
    </div>
    <div class="large-4 columns">
      <label class="state_provence">State/Provence
        <input type="text" name="state_provence" value="<% edit.state_provence %>" class="state_provence"/>
      </label>
    </div>
    <div class="large-4 columns">
      <label>Zip/Postal Code
        <input type="text" name="postal_code" value="<% edit.postal_code %>" class="postal_code"/>
      </label>
    </div>
  </div>
  <div class="row">
    <div class="large-6 columns">
      <label>Phone Number *
        <input type="number" name="phone" value="<% edit.phone %>" class="phone" required/>
      </label>
    </div>
    <div class="large-6 columns">
      <label>Email *
        <input type="email" name="email" value="<% edit.email %>" class="email" required/>
      </label>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <input type="submit" value="Submit" class="button success large-12"/>
    </div>
  </div>
</form>

<div class="row">
  <div class="large-12 columns">
    <hr>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <h2>Existing Contacts</h2>
    <p>Select a contact to edit.</p>
  </div>
</div>
<!-- View Contacts -->
<div class="row">
  <div class="large-12 columns">
    <table class="large-12 columns">
      <thead>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Address</th>
          <th>Country</th>
          <th>City</th>
          <th>State/Provence</th>
          <th>Postal Code</th>
          <th>Phone</th>
          <th>Email</th>
        </tr>
      </thead>
      <tbody>
          <% contacts.each(function(contact){ %>
            <tr data-id="<%= contact.get('id') %>">
              <td><%= contact.get('fname') %></td>
              <td><%= contact.get('lname') %></td>
              <td><%= contact.get('address') %></td>
              <td><%= contact.get('country') %></td>
              <td><%= contact.get('city') %></td>
              <td><%= contact.get('state_provence') %></td>
              <td><%= contact.get('postal_code') %></td>
              <td><%= contact.get('phone') %></td>
              <td><%= contact.get('email') %></td>
            </tr>       
          <% }); %> 
      </tbody>
    </table>
  </div>
</div>